@import '../../styles.scss';
@import './../../reset.css';

.list {
  @extend %flex-space;
  height: 30px;
  width: 952px;
  background-color: $backgroundFocus;

  .list__item {
    @extend %flex-center;
    letter-spacing: 1.25px;
    text-align: center;
    height: 30px;
    width: 100%;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;

    &:not(:last-child) {
      border-right: 1px solid $borderColor;
    }
  }
}

.list__item--highlight {
  color: $primary;
  font-weight: 700;
  border-radius: 0 0 5px 0;
  background: linear-gradient(180deg, $backgroundFocus 0%, $background 100%) 0% 0% no-repeat padding-box;
}


@media(max-width:900px) {
  .list {
    flex-direction: column;
    height: auto;
    width: auto;

    .list--item {
      font-size: 14px;
    }
  }
}
