@import '../../styles.scss';

.list {
  @extend %flex-space;
  height: 30px;
  width: 952px;
  background-color: $background-active;

  .list__item {
    @extend %flex-center;
    letter-spacing: 1.25px;
    text-align: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
  }
}

.list__item--highlight {
  color: $primary-color-font;
  font-weight: 700;
  border-radius: 0 0 5px 0;
  background: linear-gradient(180deg, $background-active 0%, $background 100%) 0% 0% no-repeat padding-box;
}
