<section class="pokemon">
  <div class="pokemon__media">
    <img src="" alt="">
  </div>
  <div class="pokemon__info">
    <h1>Nome em inglês</h1>
    <h3>nome em japonês</h3>
    <h4>Genus</h4>
    <span class="pokemon__types">
      <h4>tipo a</h4>
      <h4>tipo b</h4>
    </span>
  </div>
  <div class="pokemon__id">
    <span class="id">#000</span>
  </div>
  <div class="pokemon__description">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem.</p>
  </div>
</section>
